---
import { SITE_TITLE, SITE_EMAIL } from "../consts";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">Email: {SITE_EMAIL}</div>
          </div>

          <div class="item community">
            <div class="item-title">FOLLOW ME ON</div>
            <a href="https://twitter.com/KangfuM" target="_blank">Twitter</a>
            <a href="https://github.com/MKFMIKU" target="_blank">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
